//--------------------------COLORS----------------------------
// Primary
$grayish-blue: hsl(237, 18%, 59%);
// $soft-red: hsl(345, 95%, 68%);
$soft-red-top: #d64f70; // Color taken with photoshop
$soft-red-bottom: #ff5c89; // Color taken with photoshop

// Neutral
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
// $very-dark-blue: hsl(235, 16%, 14%);
// $very-dark-mostly-black-blue: hsl(234, 17%, 12%);
$very-dark-blue: #251d2c; // Color taken with photoshop
$very-dark-mostly-black-blue: #1e1e28; // Color taken with photoshop
$top-card: #2c2c44; // Color taken with photoshop
$bottom-card: #34364f; // Color taken with photoshop
